{
  "openapi": "3.0.3",
  "info": {
    "title": "SCADA WMS — полный API",
    "version": "2.0.0",
    "description": "Полный контракт всех HTTP-маршрутов проекта на https://scada25.ru.\n\nЧто внутри:\n- **WMS (Next.js)** — все `app/api/**` маршруты: склад, ТСД, маркировка, приёмка, производство, справочники.\n- **Очередь печати GSMT** — `/gsmt/api/print-jobs` и `/gsmt/api/code-orders` (sidecar на порту 8790).\n- **Сервер обновлений** — `/api/v1/*` и `/packages/*` (OTA веба и APK ТСД).\n\nАвторизация:\n- Веб-интерфейс: cookie `wms_session` или `Authorization: Bearer <accessToken>` после `/api/auth/login`.\n- Терминал: заголовок `X-Device-Token` (или `Authorization: Device <token>`) после обмена кода на `/api/wms/devices/enroll`.\n- Карта ряда: `Authorization: Bearer <mapToken>` / `X-Map-Token`.\n- Публикация обновлений: токен update-server.\n\nПочти все складские методы принимают `siteCode` (`DEFAULT` на проде). Мутации заданий и документов обычно требуют `requestId` (UUID) для идемпотентности.\n\nSwagger UI: `/help/api`. Сырой JSON: `/api/wms/openapi`.",
    "contact": {
      "name": "SCADA WMS",
      "url": "https://scada25.ru"
    }
  },
  "servers": [
    {
      "url": "https://scada25.ru",
      "description": "Боевой сервер"
    },
    {
      "url": "http://127.0.0.1:3004",
      "description": "Локальный Next.js UI"
    }
  ],
  "tags": [
    {
      "name": "qpass",
      "description": "**QPass.** Интеграция с Купас / QPass."
    },
    {
      "name": "auth",
      "description": "**Авторизация.** Вход по логину/паролю, сессия, текущий пользователь."
    },
    {
      "name": "item-aliases",
      "description": "**Алиасы номенклатуры.** Поиск по альтернативным названиям и штрихкодам."
    },
    {
      "name": "vekas",
      "description": "**Векас.** Партии, паллеты и коды с линии Векас."
    },
    {
      "name": "virtual",
      "description": "**Виртуальный склад.** Планировки и узлы виртуального склада."
    },
    {
      "name": "internal-marking",
      "description": "**Внутренняя маркировка.** Генерация и разбор внутренних кодов."
    },
    {
      "name": "returns",
      "description": "**Возвраты.** Возврат товара на склад."
    },
    {
      "name": "issues",
      "description": "**Выдача.** Документы выдачи и получатели."
    },
    {
      "name": "fg",
      "description": "**Готовая продукция (legacy).** Старые маршруты /api/fg — актуальные живут в /api/wms/warehouse/finished-goods."
    },
    {
      "name": "item-groups",
      "description": "**Группы номенклатуры.** Обзор товарных групп."
    },
    {
      "name": "dashboard",
      "description": "**Дашборд.** Сводка для главной страницы WMS."
    },
    {
      "name": "openapi",
      "description": "**Документация.** Сама OpenAPI-спецификация."
    },
    {
      "name": "documents",
      "description": "**Документы.** Складские документы и печатные формы ТОРГ-1 / ТОРГ-16 / акт выдачи."
    },
    {
      "name": "events",
      "description": "**Журнал событий.** Лента складских событий."
    },
    {
      "name": "tasks",
      "description": "**Задания.** Очередь складских заданий и жизненный цикл."
    },
    {
      "name": "label-code-orders",
      "description": "**Заказы кодов.** Документы заказа кодов маркировки, погрешность, факт печати."
    },
    {
      "name": "health",
      "description": "**Здоровье.** Проверка доступности WMS и базы."
    },
    {
      "name": "row-identify",
      "description": "**Идентификация ряда.** Две бутылки → диапазон дат → паллеты в ряд карты ГП."
    },
    {
      "name": "import",
      "description": "**Импорт.** Массовый импорт данных."
    },
    {
      "name": "calendar",
      "description": "**Календарь производства.** События и правила производственного календаря."
    },
    {
      "name": "catalog",
      "description": "**Каталог.** Внутренняя маркировка и движения номенклатуры."
    },
    {
      "name": "conflicts",
      "description": "**Конфликты.** Конфликты складских операций."
    },
    {
      "name": "s",
      "description": "**Короткие ссылки.** Публичные карточки партии и ячейки."
    },
    {
      "name": "marking",
      "description": "**Маркировка.** Data Matrix, импорт вложений, отчёты."
    },
    {
      "name": "item-master",
      "description": "**Мастер-данные.** Классы и группы номенклатуры."
    },
    {
      "name": "mobile",
      "description": "**Мобильный профиль.** Профиль ТСД и оператора."
    },
    {
      "name": "ui-prefs",
      "description": "**Настройки интерфейса.** Пользовательские предпочтения UI."
    },
    {
      "name": "settings",
      "description": "**Настройки форм.** Шаблоны ТОРГ-1, ТОРГ-16, акт выдачи."
    },
    {
      "name": "items",
      "description": "**Номенклатура.** Карточки товаров, фото, QPass, ресурсы, где используется."
    },
    {
      "name": "stock",
      "description": "**Остатки.** Доступность, FEFO, POS, размещение по номенклатуре."
    },
    {
      "name": "print-queue",
      "description": "**Очередь печати GSMT.** Sidecar scada25-print-queue: задания печати и заказы кодов с терминала принтера."
    },
    {
      "name": "lots",
      "description": "**Партии.** Партии и складские корзины."
    },
    {
      "name": "transfers",
      "description": "**Перемещения.** Подтверждение перемещений."
    },
    {
      "name": "support",
      "description": "**Поддержка.** Присутствие операторов поддержки."
    },
    {
      "name": "lookup",
      "description": "**Поиск.** Универсальный lookup номенклатуры и ячейки."
    },
    {
      "name": "users",
      "description": "**Пользователи.** Список пользователей и идентификация PIN/RFID."
    },
    {
      "name": "storage",
      "description": "**Правила хранения.** Правила и подбор ячейки."
    },
    {
      "name": "app",
      "description": "**Приложение.** Версия, обновления WMS, интеграции с 1С и update-server."
    },
    {
      "name": "receiving",
      "description": "**Приёмка.** Сессии, сканы, партии, ТОРГ-1, проведение остатков."
    },
    {
      "name": "receivings",
      "description": "**Приёмка (документы).** Список приёмок и ручной документ."
    },
    {
      "name": "production",
      "description": "**Производство.** Планы, резервы, цех, Векас, потребление."
    },
    {
      "name": "putaway",
      "description": "**Размещение.** Рекомендация ячейки при приёмке."
    },
    {
      "name": "revisions",
      "description": "**Ревизии.** Документы ревизии."
    },
    {
      "name": "revision",
      "description": "**Ревизия.** Кандидаты по сроку годности."
    },
    {
      "name": "reservations",
      "description": "**Резервы.** Резервирование остатков."
    },
    {
      "name": "updates",
      "description": "**Сервер обновлений.** OTA WMS и APK терминалов (/opt/wms-update-server)."
    },
    {
      "name": "scanner-sessions",
      "description": "**Сканер-сессии.** Сессии сканирования с ТСД/браузера."
    },
    {
      "name": "warehouse",
      "description": "**Склад ГП.** План, паллеты, номенклатура, вилочный погрузчик, заполненность."
    },
    {
      "name": "writeoff",
      "description": "**Списание.** Документы списания."
    },
    {
      "name": "directories",
      "description": "**Справочники.** Склады, зоны, стеллажи, поставщики, единицы, типы номенклатуры."
    },
    {
      "name": "expiry-alerts",
      "description": "**Срок годности.** Алерты по срокам и их синхронизация."
    },
    {
      "name": "standardization",
      "description": "**Стандартизация.** Алиасы и нормализация названий."
    },
    {
      "name": "suz",
      "description": "**СУЗ.** Заказ кодов в системе управления заказами."
    },
    {
      "name": "nav-counters",
      "description": "**Счётчики меню.** Бейджи очереди заданий и уведомлений."
    },
    {
      "name": "devices",
      "description": "**Терминалы ТСД.** Регистрация, токены подключения, задания и удалённая поддержка."
    },
    {
      "name": "notifications",
      "description": "**Уведомления.** Лента и отметка прочитанного."
    },
    {
      "name": "crpt",
      "description": "**ЦРПТ.** Сведения о кодах маркировки из Честного знака."
    },
    {
      "name": "locations",
      "description": "**Ячейки.** Складские местоположения, блокировка, ожидание, цех."
    }
  ],
  "security": [
    {
      "bearer": []
    },
    {
      "cookie": []
    }
  ],
  "paths": {
    "/api/app/apply-update": {
      "post": {
        "tags": [
          "app"
        ],
        "summary": "Выполнить api / app / apply-update",
        "operationId": "post_api_app_apply_update",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/app/apply-update/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "release": {
                    "description": "Поле `release`",
                    "nullable": true,
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/app/integrations": {
      "get": {
        "tags": [
          "app"
        ],
        "summary": "Получить api / app / integrations",
        "operationId": "get_api_app_integrations",
        "parameters": [
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/app/integrations/route.ts`."
      },
      "put": {
        "tags": [
          "app"
        ],
        "summary": "Сохранить api / app / integrations",
        "operationId": "put_api_app_integrations",
        "parameters": [
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/app/integrations/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oneC": {
                    "description": "Поле `oneC`",
                    "nullable": true,
                    "type": "string"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  },
                  "updateServer": {
                    "description": "Поле `updateServer`",
                    "nullable": true,
                    "type": "string"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/app/integrations/one-c-test": {
      "post": {
        "tags": [
          "app"
        ],
        "summary": "Выполнить app / integrations / one-c-test",
        "operationId": "post_api_app_integrations_one_c_test",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/app/integrations/one-c-test/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "baseUrl": {
                    "description": "Поле `baseUrl`",
                    "nullable": true,
                    "type": "string"
                  },
                  "login": {
                    "description": "Поле `login`",
                    "nullable": true,
                    "type": "string"
                  },
                  "password": {
                    "description": "Поле `password`",
                    "nullable": true,
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/app/update-check": {
      "get": {
        "tags": [
          "app"
        ],
        "summary": "Проверить обновление веб-WMS",
        "operationId": "get_api_app_update_check",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "\n\nИсходник: `app/api/app/update-check/route.ts`."
      }
    },
    "/api/app/update-status": {
      "get": {
        "tags": [
          "app"
        ],
        "summary": "Получить api / app / update-status",
        "operationId": "get_api_app_update_status",
        "parameters": [
          {
            "name": "targetBuildId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `targetBuildId`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/app/update-status/route.ts`."
      }
    },
    "/api/app/version": {
      "get": {
        "tags": [
          "app"
        ],
        "summary": "Текущая сборка веб-интерфейса",
        "operationId": "get_api_app_version",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "\n\nИсходник: `app/api/app/version/route.ts`."
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Вход по логину и паролю",
        "operationId": "post_api_auth_login",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "\n\nИсходник: `app/api/auth/login/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "description": "Поле `login`",
                    "nullable": true,
                    "type": "string"
                  },
                  "password": {
                    "description": "Поле `password`",
                    "nullable": true,
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Выход и сброс cookie сессии",
        "operationId": "post_api_auth_logout",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/auth/logout/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Текущий пользователь по сессии",
        "operationId": "get_api_auth_me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/auth/me/route.ts`."
      }
    },
    "/api/catalog/internal-marking/generate": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Выполнить catalog / internal-marking / generate",
        "operationId": "post_api_catalog_internal_marking_generate",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/catalog/internal-marking/generate/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemCode": {
                    "description": "Поле `itemCode`",
                    "nullable": true,
                    "type": "string"
                  },
                  "markPrinted": {
                    "description": "Поле `markPrinted`",
                    "nullable": true,
                    "type": "string"
                  },
                  "qty": {
                    "type": "number"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/catalog/internal-marking/resolve": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Выполнить catalog / internal-marking / resolve",
        "operationId": "post_api_catalog_internal_marking_resolve",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/catalog/internal-marking/resolve/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "description": "Поле `code`",
                    "nullable": true,
                    "type": "string"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/catalog/items/{itemCode}/movements": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Получить catalog / items / movements",
        "operationId": "get_api_catalog_items_itemCode_movements",
        "parameters": [
          {
            "name": "itemCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор `itemCode` в пути."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `days`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Размер страницы."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `offset`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "Движения номенклатуры — на Frontend (DATABASE_URL), не через proxy /api/wms → :3001.\n\nИсходник: `app/api/catalog/items/[itemCode]/movements/route.ts`."
      }
    },
    "/api/fg/nomenclature": {
      "get": {
        "tags": [
          "fg"
        ],
        "summary": "Получить api / fg / nomenclature",
        "operationId": "get_api_fg_nomenclature",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Строка поиска."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/fg/nomenclature/route.ts`."
      }
    },
    "/api/fg/nomenclature/{itemCode}/codes/{codeId}/children": {
      "get": {
        "tags": [
          "fg"
        ],
        "summary": "Получить nomenclature / codes / children",
        "operationId": "get_api_fg_nomenclature_itemCode_codes_codeId_children",
        "parameters": [
          {
            "name": "itemCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор `itemCode` в пути."
          },
          {
            "name": "codeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор `codeId` в пути."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/fg/nomenclature/[itemCode]/codes/[codeId]/children/route.ts`."
      }
    },
    "/api/fg/nomenclature/{itemCode}/tree": {
      "get": {
        "tags": [
          "fg"
        ],
        "summary": "Получить fg / nomenclature / tree",
        "operationId": "get_api_fg_nomenclature_itemCode_tree",
        "parameters": [
          {
            "name": "itemCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор `itemCode` в пути."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/fg/nomenclature/[itemCode]/tree/route.ts`."
      }
    },
    "/api/fg/summary": {
      "get": {
        "tags": [
          "fg"
        ],
        "summary": "Получить api / fg / summary",
        "operationId": "get_api_fg_summary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/fg/summary/route.ts`."
      }
    },
    "/api/s/batch/{code}": {
      "get": {
        "tags": [
          "s"
        ],
        "summary": "Получить api / s / batch",
        "operationId": "get_api_s_batch_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор `code` в пути."
          },
          {
            "name": "cell",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `cell`."
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `gtin`."
          },
          {
            "name": "item",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `item`."
          },
          {
            "name": "qty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `qty`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "\n\nИсходник: `app/api/s/batch/[code]/route.ts`."
      }
    },
    "/api/s/cell/{code}": {
      "get": {
        "tags": [
          "s"
        ],
        "summary": "Получить api / s / cell",
        "operationId": "get_api_s_cell_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор `code` в пути."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "\n\nИсходник: `app/api/s/cell/[code]/route.ts`."
      }
    },
    "/api/ui-prefs": {
      "get": {
        "tags": [
          "ui-prefs"
        ],
        "summary": "Получить api / ui-prefs",
        "operationId": "get_api_ui_prefs",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `key`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/ui-prefs/route.ts`."
      },
      "put": {
        "tags": [
          "ui-prefs"
        ],
        "summary": "Сохранить api / ui-prefs",
        "operationId": "put_api_ui_prefs",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `key`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/ui-prefs/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "description": "Поле `key`",
                    "nullable": true,
                    "type": "string"
                  },
                  "value": {
                    "description": "Поле `value`",
                    "nullable": true,
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/clear-test": {
      "post": {
        "tags": [
          "updates"
        ],
        "summary": "Сбросить тестовое обновление",
        "operationId": "updateAdminClearTest",
        "security": [
          {
            "updateToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Сброшено"
          }
        }
      }
    },
    "/api/v1/admin/test-update": {
      "post": {
        "tags": [
          "updates"
        ],
        "summary": "Тестовая рассылка обновления",
        "operationId": "updateAdminTest",
        "security": [
          {
            "updateToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Отправлено"
          }
        }
      }
    },
    "/api/v1/check": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Проверить обновление веб-WMS",
        "operationId": "updateCheckWeb",
        "parameters": [
          {
            "name": "currentBuildId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Есть/нет обновления"
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Здоровье сервера обновлений",
        "operationId": "updateHealth",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/api/v1/releases": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Список релизов веб-WMS",
        "operationId": "updateListReleases",
        "responses": {
          "200": {
            "description": "Релизы"
          }
        }
      },
      "post": {
        "tags": [
          "updates"
        ],
        "summary": "Опубликовать релиз веб-WMS",
        "operationId": "updatePublishRelease",
        "security": [
          {
            "updateToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Опубликовано"
          }
        }
      }
    },
    "/api/v1/releases/latest": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Последний релиз веб-WMS",
        "operationId": "updateLatestRelease",
        "responses": {
          "200": {
            "description": "Последний пакет"
          }
        }
      }
    },
    "/api/v1/tsd/check": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Проверить OTA-обновление APK ТСД",
        "operationId": "updateCheckTsd",
        "parameters": [
          {
            "name": "currentVersionCode",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "currentVersionName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Информация об APK"
          }
        }
      }
    },
    "/api/v1/tsd/releases": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Список APK ТСД",
        "operationId": "updateListTsdReleases",
        "responses": {
          "200": {
            "description": "Релизы APK"
          }
        }
      },
      "post": {
        "tags": [
          "updates"
        ],
        "summary": "Опубликовать APK ТСД",
        "operationId": "updatePublishTsd",
        "security": [
          {
            "updateToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Опубликовано"
          }
        }
      }
    },
    "/api/v1/tsd/releases/latest": {
      "get": {
        "tags": [
          "updates"
        ],
        "summary": "Последний APK ТСД",
        "operationId": "updateLatestTsd",
        "responses": {
          "200": {
            "description": "Последний APK"
          }
        }
      }
    },
    "/api/wms/calendar/events": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Получить wms / calendar / events",
        "operationId": "get_api_wms_calendar_events",
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `eventId`."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `from`."
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `to`."
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `types`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/events/route.ts`."
      },
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Выполнить wms / calendar / events",
        "operationId": "post_api_wms_calendar_events",
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `eventId`."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `from`."
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `to`."
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `types`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/events/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventId": {
                    "description": "Поле `eventId`",
                    "nullable": true,
                    "type": "string"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "calendar"
        ],
        "summary": "Изменить wms / calendar / events",
        "operationId": "patch_api_wms_calendar_events",
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `eventId`."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `from`."
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `to`."
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `types`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/events/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventId": {
                    "description": "Поле `eventId`",
                    "nullable": true,
                    "type": "string"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "calendar"
        ],
        "summary": "Удалить wms / calendar / events",
        "operationId": "delete_api_wms_calendar_events",
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `eventId`."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `from`."
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `to`."
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `types`."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/events/route.ts`."
      }
    },
    "/api/wms/calendar/rules": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Получить wms / calendar / rules",
        "operationId": "get_api_wms_calendar_rules",
        "parameters": [
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "ruleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `ruleId`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/rules/route.ts`."
      },
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Выполнить wms / calendar / rules",
        "operationId": "post_api_wms_calendar_rules",
        "parameters": [
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "ruleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `ruleId`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/rules/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config": {
                    "description": "Поле `config`",
                    "nullable": true,
                    "type": "string"
                  },
                  "isActive": {
                    "description": "Поле `isActive`",
                    "nullable": true,
                    "type": "string"
                  },
                  "kind": {
                    "description": "Поле `kind`",
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "Поле `name`",
                    "nullable": true,
                    "type": "string"
                  },
                  "priority": {
                    "description": "Поле `priority`",
                    "nullable": true,
                    "type": "string"
                  },
                  "ruleId": {
                    "description": "Поле `ruleId`",
                    "nullable": true,
                    "type": "string"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "calendar"
        ],
        "summary": "Изменить wms / calendar / rules",
        "operationId": "patch_api_wms_calendar_rules",
        "parameters": [
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "ruleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `ruleId`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/rules/route.ts`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config": {
                    "description": "Поле `config`",
                    "nullable": true,
                    "type": "string"
                  },
                  "isActive": {
                    "description": "Поле `isActive`",
                    "nullable": true,
                    "type": "string"
                  },
                  "kind": {
                    "description": "Поле `kind`",
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "Поле `name`",
                    "nullable": true,
                    "type": "string"
                  },
                  "priority": {
                    "description": "Поле `priority`",
                    "nullable": true,
                    "type": "string"
                  },
                  "ruleId": {
                    "description": "Поле `ruleId`",
                    "nullable": true,
                    "type": "string"
                  },
                  "siteCode": {
                    "type": "string",
                    "example": "DEFAULT"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "siteCode"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "calendar"
        ],
        "summary": "Удалить wms / calendar / rules",
        "operationId": "delete_api_wms_calendar_rules",
        "parameters": [
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `includeDeleted`."
          },
          {
            "name": "ruleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `ruleId`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/calendar/rules/route.ts`."
      }
    },
    "/api/wms/conflicts": {
      "get": {
        "tags": [
          "conflicts"
        ],
        "summary": "Получить api / wms / conflicts",
        "operationId": "get_api_wms_conflicts",
        "parameters": [
          {
            "name": "openOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Параметр `openOnly`."
          },
          {
            "name": "siteCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEFAULT",
              "example": "DEFAULT"
            },
            "description": "Код площадки WMS."
          }
        ],
        "responses": {
          "200": {
            "description": "Успех",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyObject"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Нет сессии или токена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "База не настроена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "cookie": []
          }
        ],
        "description": "\n\nИсходник: `app/api/wms/conflicts/route.ts`."
      }
    },
    "/api/wms/crpt/info": {
      "post": {
        "tags": [
          "crpt"
        ],
[...]
